In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import tensorflow_hub as hub
import numpy as np
import tensorflow_text
import datetime as dt
import datetime
from datetime import datetime

In [2]:
vector_df = pd.read_csv('../raw_data/quarter.csv',names=['index', 'date', 'is_btc', 'is_intc', 'is_ge', 'is_bynb', 'full_text'] + [str(i) for i in range(512)])

FileNotFoundError: [Errno 2] No such file or directory: '../raw_data/quarter.csv'

In [ ]:
vector_df = vector_df.set_index('date')

In [ ]:
vector_df = vector_df.sort_index(ascending=True)

In [ ]:
def replacen(x):
    return x.replace('+0000','')

In [ ]:
def replacet(x):
    return x.replace('\n','')

In [ ]:
def replacequo(x):
    return x.replace('"','')

In [ ]:
def replacestr(x):
    return x.strip()

In [ ]:
vector_df['date']= vector_df['date'].apply(replacen)

In [ ]:
vector_df['date']=vector_df['date'].apply(replacet)

In [ ]:
vector_df['date']= vector_df['date'].apply(replacequo)

In [ ]:
vector_df['date'] = vector_df['date'].apply(replacestr)

In [ ]:
vector_df['date'] = list(map(lambda x: datetime.strptime(x,'%a %b %d %H:%M:%S %Y').strftime('%m/%d/%Y'), vector_df['date']))

In [ ]:
vector_df['date'] = pd.to_datetime(vector_df['date'])

In [ ]:
vector_df = vector_df.drop(['index','full_text'], axis = 1)

In [ ]:
btc_ticker_df = vector_df[vector_df['is_btc']==1.]

In [13]:
df = pd.read_csv('bitcoin_ticker.csv')

In [14]:
df.head(5)

,Unnamed: 0,is_btc,is_intc,is_ge,is_bynd,0,1,2,3,4,...,503,504,505,506,507,508,509,510,511,BTC
0,2018-01-05,1.0,0.0,0.0,0.0,-0.013117,0.050249,-0.089505,-0.092741,0.037357,...,-0.088402,0.013783,-0.087747,0.015506,0.063639,0.031106,-0.038073,0.058685,-0.026750,0
1,2018-01-08,1.0,0.0,0.0,0.0,-0.014055,-0.008568,-0.035180,-0.050764,0.018540,...,0.020352,0.029425,-0.034056,0.040794,-0.018060,0.006818,-0.007444,0.003750,0.026947,0
2,2018-01-10,1.0,0.0,0.0,0.0,-0.020160,0.077612,-0.086937,-0.087630,0.051575,...,-0.069036,0.006249,-0.089332,0.048672,0.017545,0.049167,-0.024719,0.026676,-0.024144,0
3,2018-01-11,1.0,0.0,0.0,0.0,-0.049693,-0.034059,-0.011563,0.023274,0.041552,...,0.018620,-0.016023,0.006528,0.039616,-0.032307,0.013691,-0.089713,0.017997,-0.059676,0
4,2018-01-12,1.0,0.0,0.0,0.0,0.013330,0.027462,-0.094327,-0.063976,0.008876,...,-0.044575,-0.032921,-0.101876,0.070673,0.043715,-0.041792,-0.050335,-0.008948,0.033937,0

In [15]:
df.rename({'Unnamed: 0':'Date'}, inplace=True, axis=1)

In [16]:
df.head(5)

,Date,is_btc,is_intc,is_ge,is_bynd,0,1,2,3,4,...,503,504,505,506,507,508,509,510,511,BTC
0,2018-01-05,1.0,0.0,0.0,0.0,-0.013117,0.050249,-0.089505,-0.092741,0.037357,...,-0.088402,0.013783,-0.087747,0.015506,0.063639,0.031106,-0.038073,0.058685,-0.026750,0
1,2018-01-08,1.0,0.0,0.0,0.0,-0.014055,-0.008568,-0.035180,-0.050764,0.018540,...,0.020352,0.029425,-0.034056,0.040794,-0.018060,0.006818,-0.007444,0.003750,0.026947,0
2,2018-01-10,1.0,0.0,0.0,0.0,-0.020160,0.077612,-0.086937,-0.087630,0.051575,...,-0.069036,0.006249,-0.089332,0.048672,0.017545,0.049167,-0.024719,0.026676,-0.024144,0
3,2018-01-11,1.0,0.0,0.0,0.0,-0.049693,-0.034059,-0.011563,0.023274,0.041552,...,0.018620,-0.016023,0.006528,0.039616,-0.032307,0.013691,-0.089713,0.017997,-0.059676,0
4,2018-01-12,1.0,0.0,0.0,0.0,0.013330,0.027462,-0.094327,-0.063976,0.008876,...,-0.044575,-0.032921,-0.101876,0.070673,0.043715,-0.041792,-0.050335,-0.008948,0.033937,0

In [17]:
df['Date'] = pd.to_datetime(df['Date'])

In [18]:
df = df.set_index(['Date'])

In [19]:
df = df.drop(['is_intc','is_ge','is_bynd','BTC','is_btc'], axis = 1)

In [20]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-05,-0.013117,0.050249,-0.089505,-0.092741,0.037357,0.060436,-0.054213,0.004616,-0.025182,-0.005532,...,-0.047444,-0.088402,0.013783,-0.087747,0.015506,0.063639,0.031106,-0.038073,0.058685,-0.026750
2018-01-08,-0.014055,-0.008568,-0.035180,-0.050764,0.018540,0.049535,0.019374,0.006960,-0.048838,0.004369,...,-0.032102,0.020352,0.029425,-0.034056,0.040794,-0.018060,0.006818,-0.007444,0.003750,0.026947
2018-01-10,-0.020160,0.077612,-0.086937,-0.087630,0.051575,0.015803,-0.020839,0.047803,0.033464,0.061327,...,-0.062118,-0.069036,0.006249,-0.089332,0.048672,0.017545,0.049167,-0.024719,0.026676,-0.024144
2018-01-11,-0.049693,-0.034059,-0.011563,0.023274,0.041552,-0.053513,0.087067,0.029606,-0.024782,-0.049679,...,0.006667,0.018620,-0.016023,0.006528,0.039616,-0.032307,0.013691,-0.089713,0.017997,-0.059676
2018-01-12,0.013330,0.027462,-0.094327,-0.063976,0.008876,-0.031593,-0.038821,0.039568,0.045371,-0.015747,...,-0.000908,-0.044575,-0.032921,-0.101876,0.070673,0.043715,-0.041792,-0.050335,-0.008948,0.033937

In [2]:
binance_df = pd.read_csv('Binance_BTCUSDT_d.csv')

In [3]:
binance_df.head(5)

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,1.631059e+12,2021-09-08 00:00:00,BTC/USDT,46868.57,46989.28,46412.98,46576.37,1191.025750,5.559629e+07,29227.0
1,1.630973e+12,2021-09-07 00:00:00,BTC/USDT,52666.20,52920.00,42843.05,46863.73,123048.802719,6.004106e+09,3321711.0
2,1.630886e+12,2021-09-06 00:00:00,BTC/USDT,51756.88,52780.00,50969.33,52663.90,49249.667081,2.549291e+09,1678015.0
3,1.630800e+12,2021-09-05 00:00:00,BTC/USDT,49917.54,51900.00,49450.00,51756.88,40544.835873,2.049212e+09,1417660.0
4,1.630714e+12,2021-09-04 00:00:00,BTC/USDT,49998.00,50535.69,49370.00,49915.64,34664.659590,1.733527e+09,1225830.0

In [4]:
binance_df = binance_df[['date','close']]

In [5]:
binance_df.head(5)

                  date     close
0  2021-09-08 00:00:00  46576.37
1  2021-09-07 00:00:00  46863.73
2  2021-09-06 00:00:00  52663.90
3  2021-09-05 00:00:00  51756.88
4  2021-09-04 00:00:00  49915.64

In [6]:
binance_df['date'] = pd.to_datetime(binance_df['date'])

In [7]:
binance_df = binance_df.set_index(['date'])

In [8]:
binance_df.head(5)

               close
date
2021-09-08  46576.37
2021-09-07  46863.73
2021-09-06  52663.90
2021-09-05  51756.88
2021-09-04  49915.64

In [9]:
def onezero(x):
    if x>0:
        return 1
    else:
        return 0

In [10]:
btc_target = pd.Series(binance_df['close']).diff().apply(onezero)

In [21]:
btc_df = pd.merge(df,btc_target,left_index=True,right_index=True,)

In [22]:
btc_df

,0,1,2,3,4,5,6,7,8,9,...,503,504,505,506,507,508,509,510,511,close
2018-01-05,-0.013117,0.050249,-0.089505,-0.092741,0.037357,0.060436,-0.054213,0.004616,-0.025182,-0.005532,...,-0.088402,0.013783,-0.087747,0.015506,0.063639,0.031106,-0.038073,0.058685,-0.026750,0
2018-01-08,-0.014055,-0.008568,-0.035180,-0.050764,0.018540,0.049535,0.019374,0.006960,-0.048838,0.004369,...,0.020352,0.029425,-0.034056,0.040794,-0.018060,0.006818,-0.007444,0.003750,0.026947,1
2018-01-10,-0.020160,0.077612,-0.086937,-0.087630,0.051575,0.015803,-0.020839,0.047803,0.033464,0.061327,...,-0.069036,0.006249,-0.089332,0.048672,0.017545,0.049167,-0.024719,0.026676,-0.024144,1
2018-01-11,-0.049693,-0.034059,-0.011563,0.023274,0.041552,-0.053513,0.087067,0.029606,-0.024782,-0.049679,...,0.018620,-0.016023,0.006528,0.039616,-0.032307,0.013691,-0.089713,0.017997,-0.059676,0
2018-01-12,0.013330,0.027462,-0.094327,-0.063976,0.008876,-0.031593,-0.038821,0.039568,0.045371,-0.015747,...,-0.044575,-0.032921,-0.101876,0.070673,0.043715,-0.041792,-0.050335,-0.008948,0.033937,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-26,-0.001720,0.016274,-0.065167,-0.058923,-0.002287,0.007711,-0.014827,0.036962,-0.006803,0.024787,...,-0.051016,0.005601,-0.063204,0.051792,0.033882,0.005262,-0.039788,0.018364,0.028023,0
2021-07-27,-0.040802,-0.034456,-0.008718,-0.039767,0.068099,0.004389,0.064929,0.032037,0.053845,-0.023774,...,-0.051587,-0.057731,-0.015623,0.078866,0.025335,0.051901,-0.057740,-0.022931,0.061395,0
2021-07-28,-0.008338,0.009048,-0.065037,-0.042550,0.015016,-0.015267,0.013546,0.037848,-0.015830,0.019980,...,-0.052015,-0.000688,-0.062559,0.057076,0.017995,0.016437,-0.066338,0.017857,0.033141,1
2021-07-29,-0.026184,0.016183,-0.068015,-0.057039,0.005724,0.030354,0.058527,-0.012193,-0.020392,0.030590,...,-0.052780,0.022534,-0.045359,0.054422,0.041829,-0.023707,-0.038047,0.021094,0.052705,0
2021-07-30,-0.004545,0.036036,-0.066841,-0.056277,0.010324,0.015425,-0.009501,0.043699,-0.007868,0.025093,...,-0.055226,0.014025,-0.063849,0.065055,0.021899,-0.009602,-0.047170,0.014486,0.031893,1

In [23]:
X = btc_df.drop(columns = ['close'], axis = 1)

In [24]:
y = btc_df['close']

In [25]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,VotingClassifier
from sklearn.model_selection import train_test_split,cross_validate
import joblib
from sklearn.model_selection import GridSearchCV

In [26]:
from sklearn.pipeline import Pipeline
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [28]:
# testing different models
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [94]:
# naive_model = GaussianNB()
# naive_model.fit(X, y)
# y_pred = naive_model.predict(X_test)

In [95]:
# print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6115702479338843

In [98]:
# model = GaussianNB()
# nb = model.fit(X_train,y_train)
# predictions = nb.predict(X_test)

In [97]:
# print("Accuracy:",metrics.accuracy_score(y_test, predictions))

Accuracy: 0.5206611570247934

In [99]:
# cv_results = cross_validate(model, X, y, scoring = 'accuracy' , cv= 5)

In [100]:
# cv_results['test_score'].mean()

0.4992286501377411

In [101]:
voting_classifier_soft = VotingClassifier(estimators = [
    ('svc',SVC(probability=True)),
    ('rf',RandomForestClassifier()),
    ], voting='soft')

In [102]:
cv_results = cross_validate(voting_classifier_soft, X, y, scoring = 'accuracy' , cv=5)

In [103]:
cv_results['test_score'].mean()

0.5291873278236914

In [44]:
# cv_results = cross_validate(voting_classifier_hard, X, y, scoring = 'accuracy' , cv=5)

In [ ]:
cv_results['test_score'].mean()

In [4]:
voting_classifier_soft = VotingClassifier(estimators = [
    ('svc',SVC(probability=True)),
    ('rf',RandomForestClassifier()),
    ], voting='soft')

In [ ]:
voting_classifier_soft1 = VotingClassifier(estimators=[('svc',
                              SVC(C=0.5, kernel='poly', probability=True)),
                             ('rf',
                              RandomForestClassifier(max_depth=80,
                                                     max_features=10,
                                                     min_samples_leaf=4,
                                                     min_samples_split=10))],
                 voting='soft')

In [ ]:
voting_classifier_soft2 = VotingClassifier(estimators=[('svc',
                              SVC(C=100, kernel='sigmoid', probability=True)),
                             ('rf',
                              RandomForestClassifier(max_depth=90,
                                                     max_features=3,
                                                     min_samples_leaf=4,
                                                     min_samples_split=10,
                                                     n_estimators=300))],
                 voting='soft')

In [ ]:
params1 = {'svc__C': [0.1, 0.08, 0.5],
          'svc__kernel': ['rbf', 'poly', 'sigmoid'],
          'rf__max_depth': [80, 90],
          'rf__max_features': [10],
          'rf__min_samples_leaf': [3, 4, 5],
          'rf__min_samples_split': [8, 10, 12,],
          'rf__n_estimators': [100,300],
          
         }

In [ ]:
params2 = {'svc__C': [100],
          'svc__kernel': ['sigmoid'],
          'rf__max_depth': [90],
          'rf__max_features': [3],
          'rf__n_estimators': [300],
          
         }

In [ ]:
from sklearn.metrics import make_scorer
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score

In [ ]:
scoot = {
    "Accuracy": make_scorer(accuracy_score),
    "Balanced": make_scorer(balanced_accuracy_score)
    
}

In [ ]:
score =cross_validate(voting_classifier_soft, X, y , cv=10)

In [ ]:
score['test_score'].mean()

In [ ]:
import joblib

In [ ]:
voting_classifier_soft.fit(X_train, y_train)

In [ ]:
joblib.dump(voting_classifier_soft, 'model.joblib')

In [ ]:
'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300]

In [ ]:
grid = GridSearchCV(estimator=voting_classifier_soft1, param_grid=params1,scoring=scoot , cv=3,return_train_score=True,refit='Balanced')

In [ ]:
grid.fit(X_train,y_train)

In [ ]:
print (grid.best_params_)

In [ ]:
best_grid = grid.best_estimator_
#grid_accuracy = evaluate(best_grid, test_features, test_labels)
best_grid

In [ ]:
grid.best_score_

In [ ]:
grid.best_estimator_

In [ ]:
params = {'svc__C': [0.1],
          'svc__kernel': ['rbf'],
          'rf__max_depth': [100],
          'rf__max_features': [10],
          'rf__n_estimators': [100],
          
         }

# 0.5857142857142857

In [ ]:
highscore = {'svc__C': [100],
          'svc__kernel': ['sigmoid'],
          'rf__max_depth': [90],
          'rf__max_features': [2],
          'rf__n_estimators': [100],
          
         }

In [ ]:
VotingClassifier(estimators=[('svc', SVC(C=0.1, probability=True)),
                             ('rf',
                              RandomForestClassifier(max_depth=100,
                                                     max_features=10))],
                 voting='soft')

In [ ]:
VotingClassifier(estimators=[('svc',
                              SVC(C=100, kernel='sigmoid', probability=True)),
                             ('rf',
                              RandomForestClassifier(max_depth=80,
                                                     max_features=10))],
                 voting='soft')

In [ ]:
higherscore = {'rf__max_depth':[90],
              'rf__max_features':[2],
              'rf__n_estimators':[100],
               'svc__C':[100],
               'svc__kernel':['rbf'],}

In [ ]:
rf__max_depth': 90, 'rf__max_features': 2, 'rf__n_estimators': 100, 'svc__C': 100, 'svc__kernel': 'rbf'

# best grid

In [ ]:
VotingClassifier(estimators=[('svc',
                              SVC(C=0.1, kernel='sigmoid', probability=True)),
                             ('rf',
                              RandomForestClassifier(max_depth=80,
                                                     max_features=3))],
                 voting='soft')